<div class="card">
  <%= link_to image_tag(tweet.image, class: :card__img ), tweet_path(tweet.id), method: :get%>
  <div class="card__body">
    <%= link_to tweet.coffee_price, root_path, class: :card__title%>
    <p class="card__summary">
      <%= tweet.store_name %>
    </p>
    <%= link_to tweet.user.nickname, root_path, class: :card__user %>
  </div>
</div>