<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @name%>さんのつぶやき
      </h2>
      <div class="user__card">
        <% render @tweets %>
      </div>
    </div>
  </div>
</div>