<h1>オレたちだって呟きたい、、！！</h1>

<p>オレたちだって気に入ったカフェでお洒落な料理や飲み物の写真をupしたい！！だけどイン○タやツイ○ターでは”いいね”がつかな過ぎて惨めな思いをしているそんな貴方！！諦めないで！貴方のその鼻くそ大の承認欲求を満たすアプリケーションがここに！！
呟き方は至ってイージー。。単純なコーヒーの旨さの『美味しさ度』、お客さんの層やマスターの器の広さで居心地が変わる『リラックス度』、そしてイン○タ映えとは程遠い裏路地の穴蔵のようなアングラ感の『アンダーグラウン度』。この３点で評価して頂きます！！貴方だけのオアシスを呟こう！！</p>
