<div class="tweet__image">
  <h1>このアプリの楽しみ方</h1>
  <p>①右上の新規作成押してユーザー登録を行う。</p>
    <img src="/assets/app_ex.png" alt="">
  <p>②ログインしている状態で右上の『つぶやく』クリックする。</p>
    <img src="/assets/app_ex2.png" alt="">
  <p>③お店の情報を（美味しさ度、リラックス度、アンダーグラウン度を最大★５個で評価。）等を入力。最後に画像を選んで『保存する』をクリック！</p>
    <img src="/assets/app_ex3.png" alt="">
  <p>④他のユーザーの詳細ページでコメントを残して情報を共有しよう！</p>
    <img src="/assets/app_ex4.png" alt="">
</div>




